In [3]:
import pandas as pd
import seaborn as sns
movies = pd.read_table('ml-1m/movies.dat',  encoding='windows-1252', sep='::', engine='python', names=['MovieID', 'Title', 'Genres'])
ratings = pd.read_table('ml-1m/ratings.dat', sep='::', engine='python', names=['UserId', 'MovieID', 'Rating', 'Timestamp'])
users = pd.read_table('ml-1m/users.dat', sep='::', engine='python', names=['UserId', 'Gender', 'Age', 'Occupation', 'Zip-code'])

dfMovies = pd.DataFrame(movies)
dfRatings = pd.DataFrame(ratings)
dfUsers = pd.DataFrame(users)

df = pd.merge(dfRatings, dfUsers)

df = pd.merge(df, dfMovies)

In [4]:
bins = [0, 18, 25, 56, 200]
ageLabels = ['Children', 'Youth', 'Adults', 'Seniors']
df['AgeCategory'] = pd.cut(df['Age'], bins=bins, labels=ageLabels, right=False)

In [5]:
df.sort_values('Rating', ascending=False).head(10)

,UserId,MovieID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,Title,Genres,AgeCategory
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,Children
233796,5374,2770,5,962391108,M,35,7,38018,Bowfinger (1999),Comedy,Adults
233813,5483,2770,5,959888512,F,25,6,15202,Bowfinger (1999),Comedy,Adults
669852,1812,3635,5,974706848,F,25,12,48103,"Spy Who Loved Me, The (1977)",Action,Adults
669856,1871,3635,5,974694190,F,45,1,46774,"Spy Who Loved Me, The (1977)",Action,Adults
669859,1889,3635,5,976434211,M,18,14,80023,"Spy Who Loved Me, The (1977)",Action,Youth
669868,1983,3635,5,974685468,M,25,14,92109,"Spy Who Loved Me, The (1977)",Action,Adults
669877,2180,3635,5,974609427,M,25,12,27713-9225,"Spy Who Loved Me, The (1977)",Action,Adults
669879,2195,3635,5,974766628,M,1,10,60148,"Spy Who Loved Me, The (1977)",Action,Children
233820,5511,2770,5,959718168,M,45,1,92407,Bowfinger (1999),Comedy,Adults

In [6]:
age_pivot = df.pivot_table('Rating', index='Title', columns=['AgeCategory', 'Gender'], aggfunc='sum')
age_pivot

genders = ['F', 'M']
result = pd.DataFrame(columns=['Children-F','Children-M', 'Youth-F', 'Youth-M', 'Adults-F', 'Adults-M', 'Seniors-F', 'Seniors-M'])
for label in ageLabels:
    for gender in genders:
        ratings = age_pivot[label][gender].sort_values(ascending=False).head(10)
        result[label + '-' + gender] = ratings.index
result

,Children-F,Children-M,Youth-F,Youth-M,Adults-F,Adults-M,Seniors-F,Seniors-M
0,Toy Story (1995),"Matrix, The (1999)",American Beauty (1999),American Beauty (1999),American Beauty (1999),Star Wars: Episode IV - A New Hope (1977),American Beauty (1999),American Beauty (1999)
1,Toy Story 2 (1999),"Sixth Sense, The (1999)","Princess Bride, The (1987)",Star Wars: Episode V - The Empire Strikes Back...,Shakespeare in Love (1998),American Beauty (1999),Schindler's List (1993),Schindler's List (1993)
2,Shakespeare in Love (1998),Star Wars: Episode IV - A New Hope (1977),Shakespeare in Love (1998),"Matrix, The (1999)","Silence of the Lambs, The (1991)",Star Wars: Episode V - The Empire Strikes Back...,One Flew Over the Cuckoo's Nest (1975),"Godfather, The (1972)"
3,Aladdin (1992),Star Wars: Episode VI - Return of the Jedi (1983),"Sixth Sense, The (1999)",Star Wars: Episode IV - A New Hope (1977),"Sixth Sense, The (1999)",Terminator 2: Judgment Day (1991),Shakespeare in Love (1998),Saving Private Ryan (1998)
4,"Sixth Sense, The (1999)",Star Wars: Episode V - The Empire Strikes Back...,"Shawshank Redemption, The (1994)",Star Wars: Episode VI - Return of the Jedi (1983),Fargo (1996),Saving Private Ryan (1998),Gone with the Wind (1939),Fargo (1996)
5,Forrest Gump (1994),Saving Private Ryan (1998),"Silence of the Lambs, The (1991)",Braveheart (1995),Star Wars: Episode IV - A New Hope (1977),Raiders of the Lost Ark (1981),"Shawshank Redemption, The (1994)",Star Wars: Episode IV - A New Hope (1977)
6,"Bug's Life, A (1998)",American Beauty (1999),Forrest Gump (1994),Saving Private Ryan (1998),"Shawshank Redemption, The (1994)","Matrix, The (1999)",Forrest Gump (1994),"Silence of the Lambs, The (1991)"
7,E.T. the Extra-Terrestrial (1982),Toy Story (1995),Toy Story (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),Star Wars: Episode VI - Return of the Jedi (1983),Saving Private Ryan (1998),Shakespeare in Love (1998)
8,American Beauty (1999),Men in Black (1997),Schindler's List (1993),"Sixth Sense, The (1999)",Star Wars: Episode V - The Empire Strikes Back...,"Silence of the Lambs, The (1991)","Godfather, The (1972)",Star Wars: Episode V - The Empire Strikes Back...
9,Babe (1995),Toy Story 2 (1999),Star Wars: Episode V - The Empire Strikes Back...,Raiders of the Lost Ark (1981),"Princess Bride, The (1987)","Godfather, The (1972)","Wizard of Oz, The (1939)",Butch Cassidy and the Sundance Kid (1969)